{% load wagtailcore_tags wagtailimages_tags %}
{% with pid as ppid %}
  {% for block in self %}
    <div class="mb-4">
      {% if block.block_type == 'image' %}
	{% image block.value width-1200 as photo %}
	<figure class="figure">
	  <img src="{{ photo.url }}" class="figure-img img-fluid rounded" alt="{{ block.value.alt_text }}">
	  <b> <figcaption class="figure-caption">{{ block.value.title }}</figcaption> </b>
	  <i> <figcaption class="figure-caption">{{ block.value.caption }}</figcaption> </i>
	</figure>
      {% else %}
	{% include_block block with ppid=ppid pid=forloop.counter0 %}
      {% endif %}
    </div>
  {% endfor %}
{% endwith %}
