{% extends "base.html" %}
{% load shortcodes site_tags wagtailcore_tags %}

{% block content %}

  {% if request.GET.tag|length %}
    <h4>Showing pages tagged "{{ request.GET.tag|upper }}" ({{pages|length}} found)</h4>

    {% for page in pages.specific %}
      <div class="well">
        <h4><a href="{% pageurl page %}"><span class="badge">{{ forloop.counter }}</span> {{ page.title }}</a></h4>
	
	{% page_date page %}
	{% page_author page %}

        {% if page.intro %}
          <p>{% shortcodes page.intro %}</p>
        {% else %}
          <p class="text-warning">Page has no introductory text.</p>
        {% endif %}
        {% if page.tags.all.count %}
	  {% taggit_list page.tags.all request.GET.tag|stringformat:"s" %}
        {% endif %}
      </div>
    {% empty %}
      <span class="text-info">No pages found with that tag.</span>
    {% endfor %}
    <hr>
  {% endif %}

  <div>
    <h4>Tag Cloud</h4>
    {% taggit_list tags show_count=True %}
  </div>

{% endblock %}
