{% extends "sitecore/base_default.html" %}
{% load shortcodes site_tags wagtailcore_tags %}

{% block head-title %}
  <title>{{ self.title }}</title>
{% endblock %}

{% block page-content-banner %}{% endblock %}

{% block page-content-aside-slot-1 %}
  <section>
    {% if request.GET.tag|length %}
      {% if pages.specific|length %}
	<ul class="list-group">
	  <li class="list-group-item list-group-item-primary d-flex justify-content-between align-items-center">
	    <strong>Showing articles tagged:</strong>
	  </li>
	  <li class="list-group-item d-flex justify-content-between align-items-center">
	    <span class="btn btn-sm my-1 btn-outline-primary text-lowercase"><i class="fa fa-tag"></i> {{ request.GET.tag|lower }}</span>
	  </li>
	  <li class="list-group-item list-group-item-primary d-flex justify-content-between align-items-center">
	    <strong>Found:</strong>
	  </li>
	  <li class="list-group-item d-flex justify-content-between align-items-center">
	    <h3><span class="badge badge-success">{{pages|length}}</span></h3>
	  </li>
	</ul>
      {% else %}
	<ul class="list-group">
	  <li class="list-group-item list-group-item-danger d-flex justify-content-between align-items-center">
	    <strong>No articles tagged</strong>
	  </li>
	  <li class="list-group-item d-flex justify-content-between align-items-center">
	    <span class="btn btn-sm my-1 btn-outline-danger text-lowercase"><i class="fa fa-tag"></i> {{ request.GET.tag|lower }}</span>
	  </li>
	</ul>
      {% endif %}
    {% else %}
      <ul class="list-group">
	<li class="list-group-item list-group-item-info d-flex justify-content-between align-items-center">
	  <strong>Total number of tags:</strong>
	</li>
	<li class="list-group-item d-flex justify-content-between align-items-center">
	  <span class="btn btn-sm my-1 btn-info text-lowercase">{{ tags.all.count }}</span>
	</li>
      </ul>
    {% endif %}
  </section>
{% endblock page-content-aside-slot-1 %}

{% block page-content-main-header %}
  <header>
    {% if request.GET.tag|length %}
      <h1 class="my-4">Tag Query Results</h1>
    {% else %}
      <h1 class="my-4">Tag Cloud</h1>
    {% endif %}
  </header>
{% endblock %}

{% block page-content-main-article %}
  {% if request.GET.tag|length %}
    <article>
      {% for page in pages.specific %}
	<div class="bg-light px-2 my-4 {% if not forloop.last %}border-bottom border-secondary{% endif %}">
	  <h4><a href="{% pageurl page %}"><span class="badge badge-dark">{{ forloop.counter }}</span> {{ page.title }}</a></h4>
	  {% if page.content_type|stringformat:'s' == "article page" %}
	    <span class="badge badge-secondary"><i class="fas fa-scroll"></i> Article</span>
	  {% elif page.content_type|stringformat:'s' == 'event page' %}
	    <span class="badge badge-primary"><i class="fas fa-calendar"></i> Event</span>
	  {% endif %}
	  {% if page.content_type|stringformat:'s' == 'event page' %}
	    <small><span class="text-dark"><i class="fas fa-calendar"></i> {{ page.start_date }}
	      {% if page.duration > 1 %}&mdash; {{ page.end_date }}{% endif %}</span></small>
	  {% else %}
	      <small><span class="text-secondary">Published: {{ page.first_published_at }}</span></small>
	      <small><span class="text-secondary">Revised: {{ page.latest_revision_created_at }}</span></small>
	  {% endif %}
	  {% include_block page.event_type with view="summary" %}
	  <hr>
	  {% if page.search_description %}
	    <div class="lead">{% shortcodes page.search_description %}</div>
	  {% elif page.intro != "<p></p>" %}
	    <div class="lead">{% shortcodes page.intro %}</div>
	  {% else %}
	    <p class="text-warning">Page has no introductory text or search description.</p>
	  {% endif %}
	  
	  {% if page.tags.all.count %}
	    {% taggit_list page.tags.all request.GET.tag|stringformat:"s" %}
	  {% endif %}
	</div>
      {% empty %}
	<span class="text-info">No pages found with that tag.</span>
      {% endfor %}
      <hr>
    </article>
  {% endif %}
{% endblock %}

{% block page-content-main-footer %}
  <footer class="my-4" role="tag cloud">
    {% if request.GET.tag|length %}
      <h4>Tag Cloud</h4>
    {% endif %}
    {% taggit_list tags show_count=True %}
  </footer>
{% endblock %}
