{% extends "sitecore/base/default.html" %}
{% load rendition shortcodes article_tags site_tags static wagtailcore_tags wagtailimages_tags %}

{% block head-title %}
  <title>{{ self.title }}</title>
{% endblock %}

{% block body-class %}home-splash{% endblock %}

{% if self.splash_image %}
  {% block head-css-extension %}
    {% rendition self.splash_image 'width-1920' as photo %}
    {% rendition self.splash_image 'width-3840' as photo2x %}
    <style>
      @media (max-width: 1919.98px) {
	.page-header-background {
	  min-height: 50vh;
	  background-attachment: fixed;
	  background-image: url({{ photo.url }});
	}
      }
      @media (min-width: 1920px) {
	.page-header-background {
	  min-height: 50vh;
	  background-attachment: fixed;
	  background-image: url({{ photo2x.url }});
	}
      }
    </style>
  {% endblock %}
{% endif %}

{% block page-head %}
  <div class="wrapper">
    {% if self.splash_image %}
      <div class="page-header page-header-background">
	<div class="container p-0 my-0">
	  <div class="row page-header-row m-0">
	    <div class="col-lg-12 p-0 mx-auto">
	      <div id="splash"
		   class="{{ self.splash_text_align }} {{ self.splash_text_colour }} {{ self.splash_bg_colour }} splash-shadow"
		   style="border-radius: {{ self.splash_border_radius }}px!important;">
		{% include_block page.splash_content with pid='splash-content' filterspec='width-1200' %}
	      </div>
	    </div>
	  </div>
	</div>
      </div>
    {% endif %}
  </div>
  <div class="container main main-raised">
    <div class="row">
      <div class="col">
	<header class="my-4">
	  <div id="intro" class="lead {{ self.intro_text_align }} {{ self.intro_text_colour }}">
	    {% include_block page.intro with pid='page-intro' filterspec='width-1200' %}
	  </div>
	</header>
      </div>
    </div>
  </div>
{% endblock page-head %}

{% block page-content-main-header %}
  {% if self.display_title %}
    <h1>{{ self.title }}</h1>
  {% endif %}
{% endblock %}

{% block page-content-main-article %}
  <article>
    <section class="my-4">
      {% include_block page.body with pid='page-body' filterspec='width-1200' %}
    </section>
  </article>
{% endblock %}

{% block page-content-main-col-size %}col-lg-12{% endblock %}
{% block page-content-main-col-style %}px-0{% endblock %}
{% block page-content-aside %}{% endblock %}
