# Base requirements

Django<2.2,>=1.11
wagtail==2.3
elasticsearch>=5.0.0,<6.0.0
webencodings==0.5.1

# Wagtail (mostly) defined dependencies and versions

Pillow<6.0,>=4.0.0
Unidecode<2.0,>=0.04.14
Willow<1.2,>=1.1
beautifulsoup4<4.6.1,>=4.5.1
certifi>=2017.4.17
chardet<3.1.0,>=3.0.2
django-modelcluster<5.0,>=4.2
django-taggit<0.24,>=0.23
django-treebeard<5.0,>=4.2.0
djangorestframework<4.0,>=3.7.4
draftjs-exporter<3.0,>=2.0
html5lib<2,>=0.999
idna<2.8,>=2.5
pytz>=2016.6
requests<3.0,>=2.11.1 
six<2.0,>=1.11
urllib3<1.25,>=1.21.1

# Additional wagtailcore requirements
# ignore for now: pip-review

Markdown
PyYAML
Pygments
appdirs
argparse
django-bootstrap-themes
django-classy-tags
django-debug-toolbar
django-extensions
django-redis
olefile
packaging
psycopg2-binary
pyparsing
redis
shortcodes
sqlparse
wagtailmenus
wagtailtinymce
