# Required packages
Django==3.1.1
wagtail==2.10.2
django-classy-tags==2.0.0
django-sekizai==2.0.0
django-select2==7.4.2
django-social-share==2.0.0
wagtailmenus==3.0.2
Markdown==3.2.2
Pygments==2.6.1
shortcodes==3.0.0
django-extensions==3.0.8
PyYAML==5.3.1
