# Required core packages for Django 3.2.12 and wagtail 2.15.3 as of 20220311

Django==3.2.12
wagtail==2.15.3

Markdown==3.3.6
PyYAML==6.0
django-classy-tags==3.0.1
django-extensions==3.1.5
django-sekizai==3.0.1
django-select2==7.10.0
django-social-share==2.2.1
django-taggit==1.5.1
psycopg2==2.9.3
shortcodes==5.4.0
wagtailmenus==3.0.2
wagtail-autocomplete==0.7.0
