appdirs==1.4.3
beautifulsoup4==4.5.3
Django==1.10.7
django-bootstrap-themes==3.3.6
django-debug-toolbar==1.7
django-extensions==1.7.8
django-modelcluster==3.1
django-redis==4.8.0
django-taggit==0.22.1
django-treebeard==4.1.0
djangorestframework==3.6.2
elasticsearch==2.4.0
html5lib==0.999999999
olefile==0.44
packaging==16.8
Pillow==4.1.0
pip-review==0.5.3
psycopg2==2.7.1
Pygments==2.2.0
pyparsing==2.2.0
pytz==2017.2
redis==2.10.5
requests==2.13.0
shortcodes==2.4.0
six==1.10.0
sqlparse==0.2.3
Unidecode==0.4.20
urllib3==1.21
wagtail==1.9.1
wagtailmenus==2.2.2
wagtailtinymce==4.2.1.5
webencodings==0.5.1
Willow==0.4
