appdirs==1.4.3
beautifulsoup4==4.5.3
Django==1.10.5
django-bootstrap-themes==3.3.6
django-debug-toolbar==1.7
django-modelcluster==3.0.1
django-redis==4.7.0
django-taggit==0.22.0
django-treebeard==4.1.0
djangorestframework==3.5.4
elasticsearch==2.4.0
html5lib==1.0b10
olefile==0.44
packaging==16.8
Pillow==4.0.0
pkg-resources==0.0.0
psycopg2==2.6.2
Pygments==2.2.0
pyparsing==2.2.0
pytz==2016.10
redis==2.10.5
requests==2.13.0
shortcodes==2.4.0
six==1.10.0
sqlparse==0.2.3
Unidecode==0.4.20
urllib3==1.20
wagtail==1.9
wagtailmenus==2.1.3
wagtailtinymce==4.2.1.5
webencodings==0.5
Willow==0.4
