{% extends "sitecore/base/default.html" %}
{% load event_tags rendition wagtailcore_tags wagtailimages_tags site_tags %}

{% block body-class %}event-index-page{% endblock %}

{% block page-content-main-header %}
  <header>
    {% if self.listing_image %}
      {% rendition self.listing_image 'fill-1200x300' as photo %}
      <div class="mb-4">
	<img src="{{ photo.url }}" alt="{{ self.listing_image.alt_text }}" class="img-full-width-md rounded img-fluid">
      </div>
    {% endif %}
    {% if page.display_title %}
      <h1 class="mb-4">{{ page.title|default:page.seo_title }}</h1>
    {% endif %}
    {% if page.display_desc %}
      <div class="lead">{{ page.desc|richtext }}</div>
    {% endif %}
    {% if not events_count %}
      <div class="alert alert-info" role="alert">
        {% if not page.no_listing_text %}
            Sorry, there are no events.
        {% else %}
	        {{ page.no_listing_text|richtext }}
        {% endif %}
      </div>
    {% endif %}  
  </header>
{% endblock page-content-main-header %}

{% block page-content-main-article %}
  <article>
    {% for event in events_paginated %}
      <div class="row p-0 m-0">
	<div class="col-12 m-0 p-0">
	  {% event_blog_summary event show_taggit=True %}
	</div>
      </div>
    {% endfor %}    
  </article>
{% endblock page-content-main-article %}

{% block page-content-main-footer-nav %}
  {% if paginator_count > 1 %}
    <footer class="my-4" role="pagination">
      {% index_pagination events_paginated pagination_range page.url %}
    </footer>
  {% endif %}
{% endblock page-content-main-footer-nav %}
