{% extends "html5-bootstrap-skeleton.html" %}
{% load menu_tags site_tags cache static wagtailuserbar %}

{% block body-content %}
        {% wagtailuserbar %}

        {% block menu %}
            {% get_site_root as site_root %}
            {% top_menu parent=site_root calling_page=self %}
        {% endblock %}

        <div class="wrapper">

        <div class="header header-filter" style="background-image: url(&quot;/static/img/bg2.jpeg&quot;); transform: translate3d(0px, 0px, 0px);">
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
	        <div class="brand">
	          <h1>Django Wagtail Test Site</h1>
		  <h3>A Badass Bootstrap UI Kit based on Material Design.</h3>
	        </div>
	      </div>
            </div>
          </div>
        </div>

        <div class="main main-raised">
	  <div class="section section-basic">
	    <div class="container">

	      <!--{ % breadcrumbs % }-->

	      <div class="row">
		<div class="col-lg-4">
		  {% flat_menu 'flat_menu_test' %}
		  {% children_menu %}
		</div>
		<div class="col-lg-8">
		  {% block heading %}
		  <div class="page-header">
                    <h1>{{ self.title }}</h1>
		  </div>
		  {% endblock %}

		  {% block content %}{% endblock %}
		</div>
		
	      </div>
              <!--{ % include 'demo/includes/prev_next.html' % }-->
	    </div>
	  </div>
        </div>

	</div>

        <!--{ % adverts % }-->

<pre> {% filter force_escape %} {% debug %} {% endfilter %} </pre>

{% endblock %}

