{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags article_tags %}

{% block body_class %}index-article-page{% endblock %}

{% block content %}
  <div class="intro">{{ page.intro|richtext }}</div>

  {% for post in articles %}
    {% with post=post.specific %}
      <h4><a href="{% pageurl post %}">{{ post.title }}</a></h4>
      {% article_meta post %}
      {% include_block post.intro %}
      <a href="{% pageurl post %}" class="btn btn-primary">Read More</a>
    {% endwith %}
  {% endfor %}

{% endblock %}
