{% extends "sitecore/base_default.html" %}
{% load shortcodes article_tags site_tags wagtailcore_tags wagtailimages_tags %}

{% block body-class %}article-page{% endblock %}

{% block page-content-main-header %}
  <header>
    {% if self.article_image %}
      {% if self.article_image_resize == 'fill-1200x300' %}
	{% image self.article_image fill-1200x300 as photo %}
      {% elif self.article_image_resize == 'fill-1200x150' %}
	{% image self.article_image fill-1200x150 as photo %}
      {% else %}
	{% image self.article_image max-1200x300 as photo %}
      {% endif %}
      
      <div class="mb-4">
	<img src="{{ photo.url }}" alt="{{ block.value.alt_text }}" class="img-fluid rounded mx-auto d-block" >
      </div>
    {% endif %}
    <h1 class="mb-4">{{ self.seo_title|default:self.title }}</h1>
    <div class="lead mb-4">
      {% for block in page.intro %}
	{% if block.block_type == 'image' %}
	  {% image block.value width-1200 as photo %}
	  <figure class="figure">
	    <img src="{{ photo.url }}" class="figure-img img-fluid rounded" alt="{{ block.value.alt_text }}">
      <b> <figcaption class="figure-caption">{{ block.value.title }}</figcaption> </b>
      <i> <figcaption class="figure-caption">{{ block.value.caption }}</figcaption> </i>
	  </figure>
	{% else %}
	  {% include_block block %}
	{% endif %}
      {% endfor %}
    </div>
  </header>
{% endblock %}

{% block page-content-main-article %}
  <article>
    {% for block in page.body %}
      <div class="mb-4">
	{% if block.block_type == 'image' %}
	  {% image block.value width-1200 as photo %}
	  <figure class="figure">
	    <img src="{{ photo.url }}" class="figure-img img-fluid rounded" alt="{{ block.value.alt_text }}">
      <b> <figcaption class="figure-caption">{{ block.value.title }}</figcaption> </b>
      <i> <figcaption class="figure-caption">{{ block.value.caption }}</figcaption> </i>
	  </figure>
	{% else %}
	  {% include_block block %}
	{% endif %}
      </div>
    {% endfor %}
  </article>
{% endblock %}

{% block page-content-aside-slot-1 %}
  <section>
    <ul class="list-group">
      <li class="list-group-item list-group-item-primary d-flex justify-content-between align-items-center">
	<strong>Article Details</strong>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
	{% page_author page %}
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
	<small><span class="text-secondary"><i class="fas fa-calendar"></i> Published:</span> {{ page.first_published_at }}</small>
      </li>
      {% if page.latest_revision_created_at %}
	<li class="list-group-item d-flex justify-content-between align-items-center">
	  <small><span class="text-secondary"><i class="fas fa-calendar-alt"></i> Revised:</span> {{ page.latest_revision_created_at }}</small>
	</li>
      {% endif %}
    </ul>
  </section>
{% endblock %}

{% block page-content-main-footer %}
  <footer role="tags">
    {% if page.tags.all.count %}
      {% taggit_list page.tags %}
    {% endif %}
  </footer>

  <p><a href="{{ page.get_parent.url }}">Return to article index</a></p>
  
{% endblock %}
