{% extends "sitecore/base_default.html" %}
{% load wagtailcore_tags wagtailimages_tags site_tags %}

{% block body-class %}article-index-by-date-page{% endblock %}

{% block page-content-main-col-order %}order-1 order-lg-1{% endblock %}
{% block page-content-aside-col-order %}order-2 order-lg-2{% endblock %}

{% block page-content-main-header %}
  <div class="container p-0 m-0">
    <div class="row">
      <div class="col-lg-3 order-2 order-lg-1">
      </div>
      <div class="col-lg-9 order-1 order-lg-2">	
	{% if page.display_title %}
	  <h1 class="mb-4">{{ page.seo_title|default:page.title }}</h1>
	{% endif %}
	{% if page.display_desc %}
	  <div class="lead mb-4">{% if page.desc and page.desc != "<p></p>" %}{{ page.desc|richtext }}{% endif %}</div>
	{% endif %}
      </div>
    </div>
  </div>
{% endblock %}

{% block page-content-main-article %}
  {% for post in articles %}
    {% with post=post.specific %}
      <div class="row bg-light my-2">
	<div class="col-lg-3 order-2 order-lg-1 px-0">
	  {% if post.thumbnail_image %}
	    {% image post.thumbnail_image fill-300x300 as photo %}
	    <div class="my-2">
	      <img src="{{ photo.url }}" alt="{{ block.value.alt_text }}" class="img-fluid rounded mx-auto d-block">
	    </div>
	  {% elif post.article_image %}
	    {% image post.article_image fill-300x300 as photo %}
	    <div class="my-2">
	      <img src="{{ photo.url }}" alt="{{ block.value.alt_text }}" class="img-fluid rounded mx-auto d-block">
	    </div>
	  {% endif %}
	</div>
	<div class="col-lg-9 order-1 order-lg-2 pb-2">
	  <h4 class="my-2"><a href="{% pageurl post %}">{{ post.title }}</a></h4>
	  {% page_date post %}
	  {% page_author post %}
	  <div class="my-2 xlead">{% include_block post.intro %}</div>
	  <a href="{% pageurl post %}" class="my-2 btn btn-primary">Read More <i class="fa fa-arrow-circle-right"></i></a>
	</div>
      </div>
    {% endwith %}
  {% endfor %}
{% endblock %}

{% block page-content-aside-slot-1 %}
  <section>
    <ul class="list-group">
      <li class="list-group-item list-group-item-primary d-flex justify-content-between align-items-center">
	<strong>Articles Filtered by:</strong>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
	{% if day %}
	  <span>{{ year }} / {{ month }} / {{ day }}</span>
	{% elif month %}
	  <span>{{ year }} / {{ month }}</span>
	{% elif year %}
	  <span>{{ year }}</span>
	{% else %}
	  <span>Showing All</span>
	{% endif %}
      </li>
    </ul>
  </section>
{% endblock page-content-aside-slot-1 %}

{% block page-content-main-footer %}
  <footer class="my-4" role="pagination">
    {% pagination articles page_range %}
  </footer>
{% endblock %}
