{% extends "base.html" %}

{% load shortcodes site_tags wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-articlepage{% endblock %}

{% block content %}
    <div class="meta">
      <p>{{ page.date }}</p>
      <p>{{ page.author }}</p>
    </div>

    <article>
      <small>{% shortcodes page.intro %}</small>
      {% for block in page.body %}
        {% if block.block_type == 'heading' %}
          <h2>{{ block.value }}</h2>
	{% elif block.block_type == 'paragraph' %}
	  {% shortcodes block %}
	{% elif block.block_type == 'image' %}
	  <div class="thumbnail">
	    {% image block.value width-840 as photo %}
	    <img src="{{ photo.url }}" width="{{ photo.width }}" height="{{ photo.height }}" alt="{{ photo.alt }}" class="img-responsive img-rounded">
	    <div class="caption">
	      <p class="text-right">{{ photo.alt }}</p>
	  </div>
        {% else %}
	  {% include_block block %}
        {% endif %}
      {% endfor %}
    </article>

    {% if page.tags.all.count %}
      {% taggit_list page.tags %}
    {% endif %}

    <p><a href="{{ page.get_parent.url }}">Return to article index</a></p>

{% endblock %}
