{% extends "sitecore/base/default.html" %}
{% load article_tags rendition site_tags wagtailcore_tags wagtailimages_tags %}

{% block body-class %}article-page{% endblock %}

{% block page-content-main-header %}
  <header>
    {% if self.article_image %}
      {% rendition self.article_image self.article_image_filterspec as photo %}
      <div class="mb-4">
	<img src="{{ photo.url }}" alt="{{ self.article_image.alt_text }}" class="img-fluid rounded mx-auto d-block" >
      </div>
    {% endif %}
    <h1 class="mb-4">{{ self.seo_title|default:self.title }}</h1>
    <div class="lead mb-4">
      {% include_block page.intro with pid='page-intro' filterspec='width-1200' %}
    </div>
  </header>
{% endblock %}

{% block page-content-main-article %}
  <article>
    {% include_block page.body with pid='page-body' filterspec='width-1200' %}
  </article>
{% endblock %}

{% block page-content-aside-slot-1 %}
  <section>
    <ul class="list-group">
      <li class="list-group-item list-group-item-primary d-flex justify-content-between align-items-center">
	<strong><i class="fas fa-info-circle"></i> Article Details</strong>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
	{% page_author page %}
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
	<small><strong><i class="fas fa-calendar"></i> Published:</strong> {{ page.first_published_at }}</small>
      </li>
      {% if page.latest_revision_created_at %}
	<li class="list-group-item d-flex justify-content-between align-items-center">
	  <small><strong><i class="fas fa-calendar-alt"></i> Revised:</strong> {{ page.latest_revision_created_at }}</small>
	</li>
      {% endif %}
    </ul>
  </section>
{% endblock %}

{% block page-content-main-footer %}
  <footer role="tags">
    {% if page.tags.all.count %}
      {% taggit_list page.tags %}
    {% endif %}
  </footer>

  <p><a href="{{ page.get_parent.url }}">Return to article index</a></p>
  
{% endblock %}
