{% extends "sitecore/base/default.html" %}
{% load rendition wagtailcore_tags wagtailimages_tags site_tags %}

{% block body-class %}article-index-page{% endblock %}

{% block page-content-main-col-size %}col-lg-12{% endblock %}
{% block page-content-main-col-order %}order-1 order-lg-1{% endblock %}
{% block page-content-main-col-style %}px-0{% endblock %} 
{% block page-content-aside %}{% endblock %}

{% block page-content-main-header %}{% endblock %}
{% block page-content-main-article %}
  <div class="container p-0 m-0">
    <div class="row p-0 m-0">
      <div class="col-lg-3 d-none d-lg-block order-2 order-lg-1 pl-lg-0">
      </div>
      <div class="col-lg-9 order-1 order-lg-2 pr-lg-0">
	{% if page.display_title %}
	  <h1 class="mb-4">{{ page.seo_title|default:page.title }}</h1>
	{% endif %}
	{% if page.display_desc %}
	  <div class="lead mb-4">{% if page.desc and page.desc != "<p></p>" %}{{ page.desc|richtext }}{% endif %}</div>
	{% endif %}
      </div>
    </div>
    
    {% for post in articles %}
      {% with post=post.specific %}
	<div class="container p-0 mx-0 my-4">
	  <div class="row p-0 m-0">
	    <div class="col-lg-3 order-2 order-lg-1 p-0 m-0">
	      {% if post.thumbnail_image %}
		{% rendition post.thumbnail_image 'fill-300x300' as photo %}
		<div class="m-0">
		  <img src="{{ photo.url }}" alt="{{ post.thumbnail_image.alt_text }}" class="img-fluid rounded mx-auto d-block">
		</div>
	      {% elif post.article_image %}
		{% rendition post.article_image 'fill-300x300' as photo %}
		<div class="m-0">
		  <img src="{{ photo.url }}" alt="{{ post.article_image.alt_text }}" class="img-fluid rounded mx-auto d-block">
		</div>
	      {% endif %}
	    </div>
	    <div class="col-lg-9 order-1 order-lg-2 pr-2 m-0">
	      <h4 class="my-2"><a href="{% pageurl post %}">{{ post.title }}</a></h4>
	      <hr>
	      {% page_date_published post %}
	      {% page_date_revised post %}
	      {% page_author post %}
	      <hr>
	      <div class="my-2">
		{% if post.search_description %}
		  {% include_block post.search_description with pid='post-search-description' filterspec='width-1200' %}
		{% else %}
		  {% include_block post.intro with pid='post-intro' filterspec='width-1200' %}
		{% endif %}
	      </div>
	      <a href="{% pageurl post %}" class="my-2 btn btn-primary">Read More <i class="fa fa-arrow-circle-right"></i></a>
	    </div>
	  </div>
	</div>
      {% endwith %}
    {% endfor %}
  </div>
{% endblock page-content-main-article %}

{% block page-content-main-footer-nav %}
  <footer class="my-4" role="pagination">
    {% index_pagination articles page_range %}
  </footer>
{% endblock page-content-main-footer-nav %}
