{% extends "sitecore/base/default.html" %}
{% load wagtailimages_tags %}

{% block head-title %}
  <title>Password Required</title>
{% endblock %}

{% block page-content-main %}

  <div class="container p-0 m-0">
    <div class="row">
      <div class="col-8 offset-2">
	
	<div class="card text-center my-4 {% if form.errors %}bg-warning text-dark{% else %}bg-primary text-light{% endif %}">
	  <div class="card-header">
	    <h2>Password Required</h2>
	  </div>
	  <div class="card-body">

	    {% if form.errors %}
	      <h4 class="card-title">The password you provided is incorrect. Please try again.</h4>
	    {% endif %}

            <form action="{{ action_url }}" method="POST">
              {% csrf_token %}

              {{ form.non_field_errors }}

              <div>
                {{ form.password.label_tag }}
                {{ form.password }}
              </div>
	      
              {% for field in form.hidden_fields %}
                {{ field }}
              {% endfor %}
              <input type="submit" value="Continue" />
            </form>
	    
	    
	  </div>
	</div>

      </div>
    </div>
  </div>
  
{% endblock %}

{% block page-content-aside %}
{% endblock %}