{% extends "sitecore/base/default.html" %}
{% load rendition wagtailcore_tags wagtailimages_tags site_tags %}

{% block head-title %}
  <title>Password Required</title>
{% endblock %}

{% block head-css-extension %}
<style>

    .password-input,
    .password-submit,
    .password-image,
    .password-text {
        margin-top: 1rem;
    }


</style>
{% endblock %}

{% block page-content-main %}

  <div class="container p-0 m-0">
    <div class="row">
      <div class="col-8 offset-2">
	
	<div class="card text-center my-4">
	  <div class="card-header">
	    <h2>Password Required</h2>
	  </div>
	  <div class="card-body">
	    {% if form.errors %}
	      <h4 class="card-title">The password you provided is incorrect. Please try again.</h4>
	    {% endif %}
      

        {% if settings.sitecore.SiteSettings.password_image %}
            {% rendition settings.sitecore.SiteSettings.password_image 'fill-300x300' as photo %}
            <div class="m-0 password-image">
                <img src="{{ photo.url }}" alt="{{ post.article_image.alt_text }}" class="img-fluid rounded mx-auto d-block">
              </div>
	    {% endif %}


        {% if settings.sitecore.SiteSettings.password_text %}
        <div class="card-text password-text">
          {{ settings.sitecore.SiteSettings.password_text|richtext }}
        </div>
        {% endif %}

            <form action="{{ action_url }}" method="POST">
              {% csrf_token %}

              {{ form.non_field_errors }}

              <div class="password-input">
                {{ form.password.label_tag }}
                {{ form.password }}
              </div>
	      
              {% for field in form.hidden_fields %}
                {{ field }}
              {% endfor %}
              <input class="password-submit" type="submit" value="Continue" />
            </form>
	    
	  </div>
	</div>

      </div>
    </div>
  </div>
  
{% endblock %}

{% block page-content-aside %}
{% endblock %}