{% extends "sitecore/base/default.html" %}
{% load article_tags event_tags rendition site_tags wagtailcore_tags %}

{% block page-content-main-col-order %}order-1 order-lg-1{% endblock %}
{% block page-content-main-col-size %}col-lg-12{% endblock %}
{% block page-content-main-col-style %}px-lg-0{% endblock %} 
{% block page-content-aside %}{% endblock %}

{% block head-title %}
  <title>{{ self.title }}</title>
{% endblock %}

{% block page-content-banner %}{% endblock %}

{% block page-content-main-header %}
  <header class="container mb-4 p-0">
    {% if slug %}
      <h1 class="mb-2">Tag Search Results for <span class="btn btn-outline-primary disabled"><i class="fas fa-tag"></i> {{ name }}</span></h1>
      <p class="lead">Found {{pages|length}} item{{pages|length|pluralize}}</p>
    {% else %}
      <h1 class="mb-2"><i class="fas fa-tags"></i> Tag Cloud</h1>
    {% endif %}
  </header>
{% endblock %}

{% block page-content-main-article %}
  {% if slug %}
    <article class="container m-0 p-0">
      {% for page in pages.specific %}
	<div class="row p-0 m-0">
	  <div class="col-12 m-0 p-0">
	    {% if page.content_type|stringformat:'s' == 'article | article page' %}
	      {% article_blog_summary page show_taggit=True taggit_slug=slug %}
	    {% elif page.content_type|stringformat:'s' == 'event | event page' %}
	      {% event_blog_summary page show_taggit=True taggit_slug=slug %}
	    {% endif %}
	  </div>
	</div>
      {% empty %}
	<span class="text-info">No pages found with that tag.</span>
	<hr>
      {% endfor %}
    </article>
  {% endif %}
{% endblock %}

{% block page-content-main-footer-nav %}
  <footer class="my-3" role="tag cloud">
    {% if slug %}
      <h2>Tag Cloud</h2>
    {% endif %}
    {% taggit_list tags show_count=True %}
  </footer>
{% endblock page-content-main-footer-nav %}
