.highlight {
    display: inline-block;
    counter-reset: line;
    padding:0;
    margin:0;   
    margin-left:0;
    z-index:1;
    white-space:pre-wrap;
}

.highlight pre {
    white-space: pre-wrap;
}

.highlight span[id^="line-num"] {
    display: block;
    counter-increment: line;
    text-align:left;
    margin:0px;
    z-index:2;
    outline: none;
    position:relative;
    padding-left:3.5em;
}

.highlight span[id^="line-num"]:before {
    display:inline-block;
    width:3em;
    height:100%;
    border-right: 2px red solid;
    padding-right: 1em;
    margin-right: 1em;
    content: counter(line);
    color:#FFF;
    text-align:right;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    /*-webkit-user-select: none;
    user-select: none;*/
}
