{% extends "base.html" %}
{% load shortcodes site_tags wagtailcore_tags %}

{% block content %}

  {% if request.GET.tag|length %}
    <h4>Showing pages tagged "{{ request.GET.tag|upper }}"</h4>
  {% endif %}

  <h4>Matching blog posts ({{blogpages|length}} found)</h4>
  {% for blogpage in blogpages %}
    <p>
      <strong><a href="{% pageurl blogpage %}">{{ blogpage.title }}</a></strong><br />
      <small><span class="text-primary">Revised:</span> {{ blogpage.latest_revision_created_at }}</small><br />
      {% if blogpage.author %}
        <small><span class="text-primary">Author</span> {{ blogpage.author.profile }}</small>
	<p>{{ blogpage.intro }}</p>
        {% if blogpage.tags.all.count %}
          {% taggit_list blogpage.tags request.GET.tag|stringformat:"s" %}
        {% endif %}
      {% endif %}
    </p>
    {% empty %}
      <span class="text-info">No blog posts found with that tag.</span>
    {% endfor %}

    <h4>Matching articles ({{articles|length}} found)</h4>
    {% for article in articles %}
      <p>
        <h4><a href="{% pageurl article %}">{{ article.title }}</a></h4>
        <small><span class="text-primary">Revised:</span> {{ article.latest_revision_created_at }}</small><br />
        {% if article.author %}
          <small><span class="text-primary">Author:</span> {{ article.author.profile }}</small>
	  {% if article.intro %}
            <p>{% shortcodes article.intro %}</p>
          {% else %}
            <p class="text-warning">Article has no introductory text.</p>
          {% endif %}
	  {% if article.tags.all.count %}
            {% taggit_list article.tags request.GET.tag|stringformat:"s" %}
          {% endif %}
	{% endif %}
      </p>
    {% empty %}
      <span class="text-info">No articles found with that tag.</span>
    {% endfor %}

{% endblock %}
