appdirs==1.4.3
beautifulsoup4==4.6.0
certifi==2019.3.9
chardet==3.0.4
Django==2.1.7
django-bootstrap-themes==3.3.6
django-classy-tags==0.8.0
django-cogwheels==0.2
django-debug-toolbar==1.11
django-extensions==2.1.6
django-modelcluster==4.3
django-redis==4.10.0
django-taggit==0.23.0
django-treebeard==4.3
djangorestframework==3.9.2
draftjs-exporter==2.1.5
elasticsearch==5.5.3
html5lib==1.0.1
idna==2.8
Markdown==3.0.1
mod-wsgi==4.6.5
olefile==0.46
packaging==19.0
Pillow==5.4.1
pip-review==1.0
pkg-resources==0.0.0
psycopg2-binary==2.7.7
Pygments==2.3.1
pyparsing==2.3.1
pytz==2018.9
PyYAML==3.13
redis==3.2.0
requests==2.21.0
shortcodes==2.5.0
six==1.12.0
soupsieve==1.8
sqlparse==0.2.4
Unidecode==1.0.23
urllib3==1.24.1
wagtail==2.4
wagtailmenus==2.12
wagtailtinymce==4.2.1.5
webencodings==0.5.1
Willow==1.1
ydiff==1.1
