{% extends "sitecore/base/default.html" %}
{% load article_tags event_tags rendition site_tags wagtailcore_tags %}

{% block page-content-main-col-order %}order-1 order-lg-1{% endblock %}
{% block page-content-main-col-size %}col-lg-12{% endblock %}
{% block page-content-main-col-style %}px-lg-0{% endblock %} 
{% block page-content-aside %}{% endblock %}

{% block head-title %}
  <title>{{ self.title }}</title>
{% endblock %}

{% block page-content-banner %}{% endblock %}

{% block page-content-main-header %}
  <header class="container mb-4 p-0">
    <h1 class="mb-2">Search Results for &quot;{{ query }}&quot;</span></h1>
    <p class="lead">Found {{pages|length}} item{{pages|length|pluralize}}</p>
  </header>
{% endblock %}

{% block page-content-main-article %}
  <article class="container m-0 p-0">
    {% for page in pages %}
      <div class="row p-0 m-0">
	<div class="col-12 m-0 p-0">
	  {% if page.content_type|stringformat:'s' == 'article | article page' %}
	    {% article_blog_summary page show_taggit=True taggit_slug=slug %}
	  {% elif page.content_type|stringformat:'s' == 'event | event page' %}
	    {% event_blog_summary page show_taggit=True taggit_slug=slug %}
	  {% endif %}
	</div>
      </div>
    {% empty %}
      <span class="text-warning">No pages found with that search term.</span>
      <hr>
    {% endfor %}
  </article>
{% endblock %}
