{% extends "html5-bootstrap-skeleton.html" %}
{% load menu_tags site_tags cache static wagtailuserbar sekizai_tags %}

{% block head-css-extension %}
  <style>
   .carousel-item:after {
     content: "";
     display: block;
     position: absolute;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
   }
  </style>
{% endblock %}

{% block body-content %}
  {% wagtailuserbar 'top-right' %}
  
  {% block menu %}
    {% get_site_root as site_root %}
    {% top_menu parent=site_root calling_page=self %}
  {% endblock %}
  
  <div class="wrapper">
    {% block page-head %}{% endblock %}
  </div>
  
  {% block page-content %}
    {% block page-content-banner %}{% endblock %}

    <div class="container pb-5 mb-5">
      <div class="row">
	<div class="col-lg-3 order-2 order-lg-1">
	  <aside>
	    {% block page-content-aside %}
	      {% block page-content-aside-menu %}
		{% section_menu template='menus/section_menu.html' %}
	      {% endblock %}
	      {% block page-content-aside-details %}{% endblock %}
	    {% endblock %}
	  </aside>
	</div>
	<div class="col-lg-9 order-1 order-lg-2">
	  {% block page-content-main %}
	    <main>
	      {% block page-content-main-header %}
		<h1>{{ self.title }}</h1>
	      {% endblock %}
	      {% block page-content-main-article %}
	        <article>
		  <p>Default article content - need to override in template</p>
		</article>
	      {% endblock %}
	      {% block page-content-main-footer %}{% endblock %}
	    </main>
	  {% endblock %}
	</div>
      </div>
    </div>
  {% endblock %}
  
  {% block footer-content %}
    <footer class="container-fluid page-footer text-light bg-dark" style="position: absolute; bottom: 0;">
	{% flat_menu 'base_footer' template='menus/footer_menu.html' %}
    </footer>
  {% endblock %}
  
  <!--pre> { % filter force_escape % } { % debug % } { % endfilter % } </pre-->
  
{% endblock %}
