// Research IT 5.1.3
// Derived from Cosmo 5.1.3
// Bootswatch

$theme: "researchit" !default;

//
// Color system
//

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #222222 !default;
$black:    #000 !default;

$blue:    #182f62 !default;
$indigo:  #6610f2 !default;
$purple:  #6b2c91 !default;
$pink:    #e83e8c !default;
$red:     #ff0039 !default;
$orange:  #f07c41 !default;
$yellow:  #f9db6d !default;
$green:   #20c997 !default;
$teal:    #36827f !default;
$cyan:    #bfdbf7 !default;

$primary:       $blue !default;
$secondary:     $orange !default;
$tertiary:      $purple !default;
$contrast:      $yellow !default;

$success:       $green !default;
$info:          $gray-300 !default;
$warning:       $orange !default;
$danger:        $red !default;
$light:         #e0e0e0 !default;
$dark:          #58646d !default;

$min-contrast-ratio:   2.6 !default;

// Create your own map
$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
) !default;

$custom-theme-colors: (
    "tertiary": $purple,
    "contrast": $contrast
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-theme-colors);

// Options

$enable-rounded: false !default;

// Body

$body-color:    $black !default;

// Fonts

// stylelint-disable-next-line value-keyword-case
$font-family-sans-serif:      "Open Sans", sans-serif;
$headings-font-weight:        300;
$headings-margin-bottom:      1rem;
//$font-size-base:              16;
//$line-height-base:            1.5;

// Navbar

$navbar-dark-hover-color:       rgba($white, 1) !default;
$navbar-light-hover-color:      rgba($black, .9) !default;

// Alerts

$alert-border-width:            0 !default;

// Progress bars

$progress-height:               .5rem !default;
