.carousel-item:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.page-footer li {
    float: left;
}

.page-footer li a {
    color: #ffffff;
}

.page-footer li + li:before {
    content: "/";
    padding: 15px;
}
