{% with prefix=loop id=section.title|slugify %}

{% if loop == 1 %}

<div class="card">
 <div class="card-header" id="heading-{{type}}-{{prefix}}-{{id}}">
    <h5 class="mb-0">
      <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-{{type}}-{{prefix}}-{{id}}" aria-expanded="true" aria-controls="collapse-{{type}}-{{prefix}}-{{id}}">
        {{ section.title }}
    </button>
    </h5>
  </div>

  <div id="collapse-{{type}}-{{prefix}}-{{id}}" class="collapse" aria-labelledby="heading-{{type}}-{{prefix}}-{{id}}" data-parent="#accordion">
    <div class="card-body">
      {{ section.content }}
    </div>
  </div>
</div>


{% else %}


<div class="card">
    <div class="card-header" id="heading-{{type}}-{{prefix}}-{{id}}">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse-{{type}}-{{prefix}}-{{id}}" aria-expanded="false" aria-controls="collapse-{{type}}-{{prefix}}-{{id}}">
            {{ section.title }}
            </button>
      </h5>
    </div>
    <div id="collapse-{{type}}-{{prefix}}-{{id}}" class="collapse" aria-labelledby="heading-{{type}}-{{prefix}}-{{id}}" data-parent="#accordion">
      <div class="card-body">

        {{ section.content }}

    </div>
    </div>
  </div>

{% endif %}

{% endwith %}


