{% with prefix=loop id=section.title|slugify %}

<li class="nav-item" role="presentation">

{% if loop == 1 %}

<a class="nav-item nav-link active" id="nav-{{type}}-{{id}}" data-toggle="{{type}}" href="#{{type}}-{{prefix}}-{{id}}" role="tab" aria-controls="{{type}}-{{id}}" aria-selected="true">{{ section.title }}</a>

{% else %}

<a class="nav-item nav-link" id="nav-{{type}}-{{id}}" data-toggle="{{type}}" href="#{{type}}-{{prefix}}-{{id}}" role="tab" aria-controls="{{type}}-{{id}}" aria-selected="false">{{ section.title }}</a>

{%endif %}

</li>

{% endwith %}