{% with prefix=loop id=section.title|slugify %}

<!-- Check to see if its a vertical pill -->
{% if type == 'pill-vert' %}

    {% if loop == 1 %}

        <a class="nav-link active" id="v-pills-{{type}}-{{id}}" data-toggle="pill" href="#{{type}}-{{prefix}}-{{id}}" role="tab" aria-controls="{{type}}-{{id}}" aria-selected="true">{{ section.title }}</a>
        
    {% else %}
    
        <a class="nav-link" id="v-pills-{{type}}-{{id}}" data-toggle="pill" href="#{{type}}-{{prefix}}-{{id}}" role="tab" aria-controls="{{type}}-{{id}}" aria-selected="false">{{ section.title }}</a>

    {% endif %}

{% else %}

<!-- IF not a vertical pill it's a PILL o TAB -->

<li class="nav-item" role="presentation">

    {% if loop == 1 %}

    <a class="nav-item nav-link active" id="nav-{{type}}-{{id}}" data-toggle="{{type}}" href="#{{type}}-{{prefix}}-{{id}}" role="tab" aria-controls="{{type}}-{{id}}" aria-selected="true">{{ section.title }}</a>

    {% else %}

    <a class="nav-item nav-link" id="nav-{{type}}-{{id}}" data-toggle="{{type}}" href="#{{type}}-{{prefix}}-{{id}}" role="tab" aria-controls="{{type}}-{{id}}" aria-selected="false">{{ section.title }}</a>

    {% endif %}

</li>

{% endif %}


{% endwith %}


