{% load wagtailcore_tags %}
<div class="my-2">
  {% for tag in tags.all %}
    {% if show_count %}
      {% if tag.num_tags %}
	<a class="btn btn-sm my-1 btn-{% if tag|stringformat:'s' == selected %}outline-{% endif %}primary"
	  href="{% slugurl 'tags' %}?tag={{ tag }}">
	  <span class="text-lowercase"><i class="fa fa-tag"></i> {{ tag }}</span>
	  <span class="badge badge-light">{{ tag.num_tags }}</span>
	</a>
	{% endif %}
    {% else %}
      <a class="btn btn-sm my-1 btn-{% if tag|stringformat:'s' == selected %}outline-{% endif %}primary"
	 href="{% slugurl 'tags' %}?tag={{ tag }}">
	<span class="text-lowercase"><i class="fa fa-tag"></i> {{ tag }}</span>
      </a>
    {% endif %}
  {% endfor %}
</div>
