{% load wagtailcore_tags %}
<div class="my-2">
  {% for tag in tags.all %}
    {% if show_count %}
      {% if tag.num_tags %}
	{% if tag.slug|stringformat:'s' == selected %}
	  <a class="btn btn-sm my-1 btn-outline-primary disabled" href="#">
	    <span class="text-lowercase"><i class="fa fa-tag"></i> {{ tag }}</span>
	    <span class="badge badge-light">{{ tag.num_tags }}</span>
	  </a>
	{% else %}
	  <a class="btn btn-sm my-1 btn-primary" href="{% slugurl 'tag' %}{{ tag.slug }}/">
	    <span><i class="fa fa-tag"></i> {{ tag.name }}</span>
	    <span class="badge badge-light">{{ tag.num_tags }}</span>
	  </a>
	{% endif %}
      {% endif %}
    {% else %}
      {% if tag.slug|stringformat:'s' == selected %}
	<a class="btn btn-sm my-1 btn-outline-primary disabled" href="#">
	  <span class="text-lowercase"><i class="fa fa-tag"></i> {{ tag }}</span>
	</a>
      {% else %}
	<a class="btn btn-sm my-1 btn-primary" href="{% slugurl 'tag' %}{{ tag.slug }}/">
	  <span><i class="fa fa-tag"></i> {{ tag.name }}</span>
	</a>
      {% endif %}
    {% endif %}
  {% endfor %}
</div>
