{% extends "sitecore/base/html5-root.html" %}
{% load cache menu_tags sekizai_tags site_tags static wagtailuserbar %}

{% block head-title %}
  <title>{{ page.seo_title|default:page.title }}</title>
{% endblock %}

{% block body-content %}
  {% wagtailuserbar 'top-right' %}
  
  {% block navbar %}
    {% get_site_root as site_root %}
    {% top_menu parent=site_root.root_page calling_page=self search_query=query transparent=true %}
  {% endblock %}
  
  {% block page-head %}<div class="wrapper"></div>{% endblock %}
  
  {% block page-content %}
    {% block page-content-banner %}{% endblock %}

    <div class="container p-0 my-4">
      <div class="row p-0 m-0">
	{% block page-content-main %}
	  <div class="{% block page-content-main-col-size %}col-lg-9{% endblock %} 
		      {% block page-content-main-col-style %}pr-0{% endblock %} 
		      {% block page-content-main-col-order %}order-1 order-lg-2{% endblock %} ">
	    <main>
	      {% block page-content-main-header %}
		<header>
		  <h1>{{ self.title }}</h1>
		</header>
	      {% endblock %}
	      {% block page-content-main-article %}
	        <article>
		  <p>Default article content - need to override in template</p>
		</article>
	      {% endblock %}
	      {% block page-content-main-footer %}{% endblock %}
	    </main>
	  </div>
	{% endblock page-content-main %}
	{% block page-content-aside %}
	  <div class="{% block page-content-aside-col-size %}col-lg-3{% endblock %} 
		      {% block page-content-aside-col-style %}pl-0{% endblock %} 
		      {% block page-content-aside-col-order %}order-2 order-lg-1{% endblock %}">
	    <aside>
	      <div class="row">
		{% block page-content-aside-slots %}
		  <div class="mb-4 col-12 {% block page-content-aside-slot-1-order %}order-1{% endblock %}">
		    {% block page-content-aside-slot-1 %}
		      {% section_menu template='sitecore/menus/section_menu.html' %}
		    {% endblock %}
		  </div>
		  <div class="mb-4 col-12 {% block page-content-aside-slot-2-order %}order-2{% endblock %}">
		    {% block page-content-aside-slot-2 %}{% endblock %}
		  </div>
		  <div class="mb-4 col-12 {% block page-content-aside-slot-3-order %}order-3{% endblock %}">
		    {% block page-content-aside-slot-3 %}{% endblock %}
		  </div>
                {% endblock page-content-aside-slots %}
	      </div>
	    </aside>
	  </div>
	{% endblock page-content-aside %}
      </div>
    </div>
  {% endblock %}
  
  {% block footer-content %}
    <footer class="mt-4 container-fluid page-footer text-light" style="background-color: #222222; /* position: absolute; bottom: 0; */">
      <div class="container">
	<div class="row py-4">
	  <div class="col-lg-4 pl-0">
	    <h3>Contact Us</h3>
	    <p><a href="tel:+441613066000" title="contact us by telephone">+44 (0)161 306 6000</a></p>
	    <p><a href="/contact/" title="Contact Details page">Contact details</a></p>
	  </div>
	  <div class="col-lg-4">
	    <h3>Find Us</h3>
	    <address>
              <a href="http://www.manchester.ac.uk/discover/maps/interactive-map/">
		The University of Manchester<br>
		Oxford Road<br>
		Manchester<br>
		M13 9PL<br>
              </a>
	    </address>
	  </div>
	  <div class="col-lg-4">
	    <h3>Connect with us</h3>
	    <p>
              <a href="https://twitter.com/UoM_eResearch"><img src="https://assets.manchester.ac.uk/phase1/templates/images/icon-twitter-50.png" width="40" height="40" alt="Twitter"></a>
	    </p>
	    <a href="http://eepurl.com/bZW3Or#d.en.284306" alt="Link to sign up page for Research IT newsletter"><button type="button" class="btn btn-secondary">Sign up for the monthly newsletter</button></a>
	  </div>
	</div>
	<div class="row py-4">
	  <div class="col-lg-12">
	    {% flat_menu 'base_footer' template='sitecore/menus/footer_menu.html' %}
	  </div>
	</div>
      </div>
    </footer>
  {% endblock %}
{% endblock %}
