{% load rendition shortcodes article_tags site_tags wagtailcore_tags wagtailimages_tags %}

{% for image in self.gallery_images %}

    {% rendition self.gallery_images 'fill-300x300' as photo %}
    
    <figure class="figure">
        <img src="{{ photo.url }}" class="figure-img img-fluid rounded" alt="{{ block.value.alt_text }}">
        <b> <figcaption class="figure-caption">{{ block.value.title }}</figcaption> </b>
        <i> <figcaption class="figure-caption">{{ block.value.caption }}</figcaption> </i>
    </figure>

{% endfor %}


